<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>SECTIONS</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
		<div>
			<button> SUBSCRIBE NOW</button>
			<button> LOG IN </button>
			<div id='gear'> <i class="fas fa-cog"></i> </div>
			<div id="dropdown"> <%= render 'shared/gear_dropdown' %> </div>
		</div>
	</nav>
</header>